<div class="block">
    <div class="msg">
        <div class="author">
            <%= message.user.username %> le <%= message.timestamp %>
            <div class="content">
                <%= message.content %>
            </div>
        </div>
    </div>
</div>
