<div class="block">
    <div class="msg">
        <div class="author">
            <%= message.user.username %><span class="legend"> le <%= message.timestamp %></span>
            <div class="content">
                <%= message.content %>
            </div>
        </div>
    </div>
</div>
<hr>
