<h1 class="super-title">Add chat room</h1>
<hr>

<div class="content-centered">
  <%= form_for @chat_room do |f| %>
      <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, autofocus: true, class: 'form-control' %>
      </div>

      <%= f.submit "Add!", class: 'btn btn-primary' %>
  <% end %>
</div>
