 @import "bootstrap-sprockets";
 // https://bootswatch.com/yeti/
 @import "bootswatch/yeti/variables";
 @import "bootstrap";
 @import "bootswatch/yeti/bootswatch";


#notice {
    display: none;
}

.super-title{
  text-align: center;
  margin-bottom: 55px;
  font-size: 60px;
}

hr {
  width: 50%;
}

// Categorie
 .circle{
  -webkit-box-shadow: 6px 4px 15px -7px rgba(11,13,46,0.83);
  -moz-box-shadow: 6px 4px 15px -7px rgba(11,13,46,0.83);
  box-shadow: 6px 4px 15px -7px rgba(11,13,46,0.83);
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-left: 60px;
  margin-bottom: 60px;
 }

.circle a:hover{
  text-decoration: none;
}

 .category-first-letter{
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 144px;
  height: 200px;
  width: 200px;
 }

 .category-title {
  text-align: center;
  margin-top: 10px;
  color:black;
  font-size: 17px;
 }

 .category-title:hover {
  text-decoration:underline;
 }

 a .category-title:hover {
      opacity:1;
 }

.box{
    margin-top: 20px;

    background-color: rgba(236, 236, 242, 0.9);
    border: 1px solid rgb(236, 236, 220);
    border-radius: 4px;

    height: 90vh;
    width: 100%;

    overflow-y: scroll;
}

.block {
    width: 100%;
    height: auto;
    margin: 7px 2px 0 2px;
}

.block:hover {
    background-color: rgba(128, 128, 128, 0.16);
}

.msg {
    // contain the message in a white div and its author with the date above
}

.author {
    // small font and light color with date
}

.content {
    // message content in a rounded white div
    padding: 5px 10px;
}

.legend {
    font-size: 10px;
    color: grey;
}

form label {
  font-size: 25px;
  margin-bottom: 10px;
}

form input{
  display: block;
  width: 600px;
  height: 50px;
}

form textarea {
  display: block;
  width: 600px;
  height: 200px;
}

.content-centered {
  width: 600px;
  margin: 0 auto;
  text-align:center;
}

.row {
  text-align:center;
}

.little-button{
  display:inline-block;
  margin:0 auto;
  width: 197px;
}

.big-button{
  width:100%;
}

.text-centered{
  text-align: center;
}

// search bar
#search-form {
    margin-bottom: 100px;
}

form input {
    display: inline-block !important;
}

#search {
    display: inline-block;
    width: 300px;
    text-align: center;
    margin-left: calc(50% - 150px);
}

#user_remember_me {
    width: auto;
    height: auto;
}

#submitSearch {
    width: 100px;
}
