<h1 class="super-title">Editing Category</h1>
<hr>

<%= render 'form', category: @category %>

<div class="content-centered">
<div class="row">
    <div class="form-group col-lg-12">

        <%= link_to 'Back', categories_path, class: 'btn btn-info little-button' %>
        <%= link_to 'Show', @category, class: 'btn btn-default little-button' %>
        <%= link_to 'Delete', @category,
            method: :delete,
            data: {
                confirm: 'Are you sure ?'
            },
            class: 'btn btn-danger little-button' %>

    </div>
</div>
</div>
