<h1 class="super-title">New Category</h1>
<hr>

<%= render 'form', category: @category %>
<div class="content-centered">
  <div class="row">
    <div class="form-group col-lg-12">
      <%= link_to 'Back', categories_path, class: 'btn btn-info big-button' %>
    </div>
  </div>
</div>
